:root {
--font-sans-serif: transat-text, sans-serif; font-weight: 400; font-style: normal;
--font-medium: rhode-extended, sans-serif; font-weight: 600; font-style: normal;
--light-green: #bcdbd8;
--blue: #0634a2;
--peach: #f9ddc5;
--ivory: #faf4ef;
--sand-brown: #a58c70;
--red-orange: #d34848;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/**
* Typography
*/

body{
   font-family: var(--font-sans-serif);
   color: var(--blue);
   line-height: 1.5;
}


h1, h3, h5{
    font-family: var(--font-medium);
    line-height: 1.2;
}

h2{
    color: black;
}

h4{
    font-family: 'Didot', serif;
    font-weight: normal;
    font-size: normal;
}

h2{
    font-size: 2rem;
}

h6{
    color: var(--red-orange);
}



p{
 font-family: var(--font-sans-serif);
}

img{
    max-width: 100%;
    display: block;
}

/**
* .component
*/ 

.component img{
    max-width: initial;
}

.component__img{
    border: 1px solid #ccc;
    overflow-x: auto;
}

.component__code{
    border: 1px solid #ccc;
}

.component__code ul{
    list-style: none;
}

.offers .flat-list{
    padding-left: 20px;
}

.latest-news .flat-list{
    padding-left: 35px;
}

/**
* .nav
*/

.main-nav{
    color: var(--ivory);
    background-color: var(--sand-brown);
    font-size: 20px;
    line-height: 35px;
    kerning: 5px;

}

.main-nav li{
    font-size: 14px;
    list-style: none;
    line-height: 26px;
}

.second-nav{
    color: var(--blue);
    background-color: var(--ivory);
    text-transform: uppercase;
    font-size: 32px;
}

.second-nav ul{
    line-height: 105px;
}

/**
* .flat-list
*/

.flat-list{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    display: flex;
}

.flat-list > * {
    flex: 1;
    padding-right: 1rem;
}

.flat-list > :last-child{
    padding-right: 0;
}

.body-text{
    background-color: var(--light-green);
}

/**
* headings
*/

.orange-heading{
    background-color: var(--peach);
    color: var(--red-orange);
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: .2px;
}

.links .orange-heading{
    font-size: 16px;
}

.blue-heading{
    background-color: var(--light-green);
    color: var(--blue);
    font-size: 31px;
    text-transform: uppercase;
    letter-spacing: .2px;
}

.links .blue-heading{
    font-size: 8pt;
}

.blue-heading .sub-heading{
    font-size: 20px;
}

.blue-heading .date{
    font-size: 12px;
    letter-spacing: none;
    text-transform: none;
}

.main-nav h3{
    
    font-size: 45px;
    text-transform: uppercase;
}

/**
* .main-post
*/

.container{
    margin: auto;
    overflow: auto;
}

.post-content{
    margin-top: 120px;
    padding-right: 5px;
}

.post-content ul{
    list-style-type: none;
    text-transform: uppercase;
    font-size: 15px;
}

.post-content ul h3{
    line-height: 40px;
    
}

.post-content h3{
    text-transform: uppercase;
}

.post-content p h3{
    padding-right: 30px;

}

.post-content p{
    padding: 1em;
}

.room-nav-header{
    font-size: 15px;
}




.main-post{
    background-color: var(--light-green);
    height: 570px;
    width: 70rem;
    
}

.main-post > * {
    float: right;
    padding: 0;
    width: 43%;
    overflow: hidden;
    padding-right: 35px;
    margin-left: 29px;
}

.post-image img{
    float: left;
    width: 507px;
    height: 670px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
}

.component-post .post-image img{
    height: 570px;
    width: 407px;
}

/**
* previous-post
*/

.previous-post .main-post{
    height: 910px;
    width: 100%;
    padding-top: 80px;
}




/**
* section-flat__list
*/ 

.footer-section{
    background-color: var(--ivory);
    color: var(--blue);
}

.section-flat__list{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.section-flat__list > * {
    flex: 1;
    padding-right: 1rem;
}

.section-flat__list > :last-child{
    padding-right: 0;
}

.wordmark{
    line-height: 5px;
    font-size: 40px;
    letter-spacing: 2px;
}

.sub-mark{
    font-size: 25px;
    line-height: 5px;
}

/**
* section image
*/

.section-image__one{
    background-color: var(--blue);
}



.nav-section {
    background-color: var(--ivory);
    color: var(--blue);
    font-size: 35px;
    padding-top: 80px;
    padding-bottom: 80px;
    height: 943px;

}

.nav-section > *{
    float: right;
    width: 43%;
    overflow: hidden;
    padding-right: 10px;
    margin-left: 10px;

}

.sidenav{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.main{
    margin-right: 160px;
    padding: 10rem;
    display: block;
    box-sizing: inherit;
}

.main-heading{
    text-align: center;
}

.main-nav .main-heading{
    padding: 320px;
    padding-bottom: 340px;
    background-image: url(../components/img/header-image.png);
}
.main-heading h3{
    line-height: 10px;
}

.heading{
    text-align: center;
}

.heading .sidenav{
    background-color: transparent;
    overflow-x: hidden;
}


.wordmark .sub-mark h4 p{
    line-height: 5px;
}

.main-nav .sidenav{
    background-color: transparent;
    overflow-x: hidden;
}

.main-nav .sidenav ul{
    padding-top: 180px;
}
.nav-scroll li{
   color:var(--white);
   background-color: var(--blue);
   opacity: 25%;
}
.nav-scroll .wordmark h4 {


    background-color: var(--white);

}

.padded-image .section-image__one{
    padding: 110px;
}

.padded-image .section-image__one img{
    padding-left:  160px;
    padding-right: 170px;
    padding-top: 20px;
    padding-bottom: 20px;

 }

 .background-image img{
     width: 100%;
     padding: 0px;
     
 }



  .flat-list {
     padding-left: 180px;
     padding-right: 185px;
     
 }

 .padded-image .post{
     background-color: var(--blue);
     height: 100%;
     width: 100%;
 }

 .span-image img{
     width: 100%;
     height: 100%;
 }

 .section-flat__list .footer-section{
    height: 443px;
    max-width: 80rem;
 }

 .footer-section{
     padding:80px;
 }

 .footer-section li{
     list-style-type: none;
     padding:4px;
 }

 .footer-section p{
     text-transform: uppercase;
     padding-left: 38px;
     padding-bottom: 24px;
 }

 .footer-section h4{
     padding-left: 30px;
 }

 .footer-section{
     padding-left: 10px;
 }

.section-flat__list .padded-image{
    padding: 0px;
}

.section-flat__list .padded-image img{
    padding: 140px;
}

.latest-news{
    background-color: var(--peach);
    padding: 0px;
    height: 1020px;
}

.latest-news h3{
    background-color: var(--peach);
    padding-top: 170px;
    padding-bottom: 100px;
    text-align: center;
    text-transform: uppercase;
    line-height: none;
    margin: 0px;
}

.offers{
    background-color: var(--light-green);
    padding: 0px;
    height: 1000px;
}

.offers h3{
    line-height: none;
    background-color: var(--light-green);
    padding-top: 170px;
    padding-bottom: 100px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
}

.latest-news .flat-list{
    padding-bottom: 20px;
}