:root {
--font-sans-serif: transat-text, sans-serif; font-weight: 400; font-style: normal;
--font-medium: rhode-extended, sans-serif; font-weight: 600; font-style: normal;
--light-green: #bcdbd8;
--blue: #0634a2;
--peach: #f9ddc5;
--ivory: #faf4ef;
--sand-brown: #a58c70;
--red-orange: #d34848;
}

@font-face{
    font-family: "Quiche Display-Regular";
    src: url(css/fonts/QuicheDisplay-Regular.otf) format("opentype");
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/**
* Typography
*/

body{
   font-family: var(--font-sans-serif);
   color: var(--blue);
   line-height: 1.5;
}


h1, h3, h5{
    font-family: var(--font-medium);
    line-height: 1.2;
}

h2{
    color: black;
}

h4{
    font-family: 'Quiche Display-Regula', serif;
    font-weight: normal;
    font-size: normal;
}


h2{
    font-size: 2rem;
}

p{
 font-family: var(--font-sans-serif);
}

img{
    max-width: 100%;
    display: block;
}

/**
* .component
*/ 

.component img{
    max-width: initial;
}

.component__img{
    border: 1px solid #ccc;
    overflow-x: auto;
}

.component__code{
    border: 1px solid #ccc;
}

.component__code ul{
    list-style: none;
}

/**
* .nav
*/

.main-nav{
    color: var(--ivory);
    background-color: var(--sand-brown);
    font-size: 20px;
    line-height: 35px;
    kerning: 5px;

}

.second-nav{
    color: var(--blue);
    background-color: var(--ivory);
    text-transform: uppercase;
    font-size: 32px;
}

.second-nav ul{
    line-height: 105px;
}

/**
* .flat-list
*/

.flat-list{
    background-color: var(--light-green);
    color: var(--blue);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    display: flex;
}

.flat-list > * {
    flex: 1;
    padding-right: 1rem;
}

.flat-list > :last-child{
    padding-right: 0;
}

.body-text{
    background-color: var(--light-green);
}

/**
* headings
*/

.orange-heading{
    background-color: var(--peach);
    color: var(--red-orange);
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: .2px;
}

.links .orange-heading{
    font-size: 16px;
}

.blue-heading{
    background-color: var(--light-green);
    color: var(--blue);
    font-size: 31px;
    text-transform: uppercase;
    letter-spacing: .2px;
}

.links .blue-heading{
    font-size: 8pt;
}

.blue-heading .sub-heading{
    font-size: 20px;
}

.blue-heading .date{
    font-size: 12px;
    letter-spacing: none;
    text-transform: none;
}

.main-nav h3{
    
    font-size: 45px;
    text-transform: uppercase;
}

/**
* .main-post
*/

.container{
    margin: auto;
    overflow: auto;
}

.post-content{
    margin-top: 120px;
    padding-right: 5px;
}

.main-post{
    background-color: var(--light-green);
    height: 570px;
    width: 70rem;
    
}

.main-post > * {
    float: right;
    padding: 0;
    width: 43%;
    overflow: hidden;
    padding-right: 35px;
    margin-left: 29px;
}

.post-image img{
    float: left;
    width: 407px;
    height: 570px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
}

/**
* footer
*/ 

.footer-section{
    background-color: var(--ivory);
    color: var(--blue);
}

.footer-flat__list{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.footer-flat__list > * {
    flex: 1;
    padding-right: 1rem;
}

.footer-flat__list > :last-child{
    padding-right: 0;
}

.wordmark{
    line-height: 5px;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sub-mark{
    font-size: 25px;
    line-height: 5px;
}