:root {
--font-sans-serif: transat-text, sans-serif; font-weight: 500; font-style: normal;
--font-medium: rhode-wide, sans-serif; font-weight: 600; font-style: normal;
--light-green: #bcdbd8;
--blue: #0634a2;
--peach: #f9ddc5;
--ivory: #faf4ef;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
   font-family: var(--font-sans-serif);
   color: var(--blue);
   line-height: 1.5;
}

h1, h2, h3, h4, h5{
    font-family: var(--font-medium);
}

img{
    max-width: 100%;
    display: block;
}

.component img{
    max-width: initial;
}