<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name= "viewport" content="width-device-width, initial-scale=1.0" />
        <title>Components | Coco Hotel</title> 
        <link rel="stylesheet" href="https://use.typekit.net/hno0zbn.css">
        <link rel="stylesheet" href="https://use.typekit.net/hno0zbn.css">
        <link rel="stylesheet" href="../css/main.css"/>
    </head>
    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
            <h3 class="component__name">body</h3>
            <div class="component__img">
            <img 
                srcset="img/div-intro__p.png 2x"
                src="img/div-intro__p.png"
                alt="body copy" 
            />
            </div>
            <div class="component__code">
                <p>
                    Coco is not your average hotel in Copenhagen. Sure, it’s a place to stay away from home, 
                    but it is also a place to unwind, a place to meet with friends, a place to meet new people, 
                    a place to explore, a place to be inspired and a place to feel wanted. We welcome everyone at
                    Coco Hotel and value outstanding hospitality above all. Want to know more about the hotel?
                </p>
                
            </div>
    </article>

    <article class="component">
        <h3 class="component__name">headings</h3>
        <div class="component__img">
        <img srcset="img/div-intro__heading copy.png 2x" src="img/div-intro__heading copy.png" alt="h2" />
        <img srcset="img/latest-header.png 2x" src="img/latest-header.png" alt="h3" /> 
        <img srcset="img/offers-main__header.png 2x" src="img/offers-main__header.png" alt="h4" />
        </div>
        <div class="component__code">
          <h2>Welcome to Coco Hotel</h2>
          <h3>Latest News</h3>
          <h4>Offers</h4>
            
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Links</h3>
        <div class="component__img">
        <img srcset="img/div-intro__link copy.png 2x" src="img/div-intro__link copy.png" alt="links" />
        <img srcset="img/footer-link.png 2x" src="img/footer-link.png" alt="links" />
        <img srcset="img/post-link.png 2x" src="img/post-link.png" alt="links" /> 
        </div>
        <div class="component__code">
            <h3>Read More <i class="fas fa-long-arrow-alt-right"></i></h3>
            <p><i class="fas fa-long-arrow-alt-right"></i></p>
            <h3>Read More Here</h3>

        </div>

    </article>


    <article class="component">
        <h3 class="component__name">Navigation Links</h3>
        <div class="component__img">
        <img srcset="img/main-nav__list.png 2x" src="img/main-nav__list.png" alt="main navigation" />
         
        </div>
        <div class="component__code">
          <h4>
              <ul>
                  <li>Home</li>
                  <li>Rooms</li>
                  <li>Cafe Coco</li>
                  <li>News & Events</li>
                  <li>Offers</li>
                  <li>About Coco Hotel</li>
                  <li>Our Restaurants</li>
                  <li>Sustainability</li>
                  <li>Meetings & Conferences</li>
              </ul>
          </h4>
        </div>
        <div class="component__img">
          <img srcset="img/room-directory__nav .png 2x" src="img/room-directory__nav .png" alt="secondary navigation">
        </div>
          <div class="component__code">
          <h4>
              <ul>
                  <li>Single Room</li>
                  <li>Small Double Room</li>
                  <li>Double Room</li>
                  <li>Twin Room</li>
                  <li>Triple Room</li>
                  <li>Superior Room</li>
                  <li>Family Suite</li>
                  <li>Junior Suite</li>
              </ul>
          </h4>
        </div>
       
    </article>







    </body>
</html>
