<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name= "viewport" content="width-device-width, initial-scale=1.0" />
        <title>Components | Coco Hotel</title> 
        <link rel="stylesheet" href="https://use.typekit.net/hno0zbn.css">
        <link rel="stylesheet" href="https://use.typekit.net/hno0zbn.css">
        <link rel="stylesheet" href="../css/main.css"/>
        <link rel="stylesheet" href="../css/normalize.css">
        <script src="https://kit.fontawesome.com/d1e5567d36.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
            <h3 class="component__name">body</h3>
            <div class="component__img">
            <img 
                srcset="img/div-intro__p.png 2x"
                src="img/div-intro__p.png"
                alt="body copy" 
            />
            </div>
            <div class="component__code">
                <article class="body-text"> 
                    <p>
                        Coco is not your average hotel in Copenhagen. Sure, it’s a place to stay away from home, 
                        but it is also a place to unwind, a place to meet with friends, a place to meet new people, 
                        a place to explore, a place to be inspired and a place to feel wanted. We welcome everyone at
                        Coco Hotel and value outstanding hospitality above all. Want to know more?
                    </p>
                </article>
            </div>
    </article>

    <article class="component">
        <h2 class="component__name">headings</h2>
            <div class="component__img">
                <img srcset="img/div-intro__heading copy.png 2x" src="img/div-intro__heading copy.png" alt="h3" />
                <img srcset="img/latest-header.png 2x" src="img/latest-header.png" alt="h3" /> 
                <img srcset="img/offers-main__header.png 2x" src="img/offers-main__header.png" alt="h4" />
            </div>
        
            <div class="component__code">
                <article class="blue-heading">
                <h3>Welcome to Coco Hotel</h3>
                </article>

                <article class="orange-heading">
                <h3>Latest News</h3>
                </article>

                <article class="blue-heading">
                <h3>Offers</h3>
                </article>
            </div>
    </article>

    <article class="component">
        <h2 class="component__name">links</h2>
            <div class="component__img">
                <img srcset="img/div-intro__link copy.png 2x" src="img/div-intro__link copy.png" alt="links" />
                <img srcset="img/footer-link.png 2x" src="img/footer-link.png" alt="links" />
                <img srcset="img/post-link.png 2x" src="img/post-link.png" alt="links" /> 
            </div>
            
            <div class="component__code">
                <div class="links">
                <article class="blue-heading">
                <h3>Read More </h3>
                </article>

                <p><i class="fas fa-long-arrow-alt-right"></i></p>
                <article class="blue-heading">
                <h4>Read More Here</h4>
                </article>
                </div>
            </div>
    </article>


    <article class="component">
        <h2 class="component__name">navigation</h2>
            <div class="component__img">
                <img srcset="img/main-nav__list.png 2x" src="img/main-nav__list.png" alt="main navigation" />
         
            </div>
            
            <div class="component__code">
                <article class="main-nav">
                    <ul>
                        <li>Home</li>
                        <li>Rooms</li>
                        <li>Cafe Coco</li>
                        <li>News & Events</li>
                        <li>Offers</li>
                        <li>About Coco Hotel</li>
                        <li>Our Restaurants</li>
                        <li>Sustainability</li>
                        <li>Meetings & Conferences</li>
                    </ul>
                </article>
            </div>

        <div class="component__img">
          <img srcset="img/room-directory__nav .png 2x" src="img/room-directory__nav .png" alt="secondary navigation">
        </div>
            
            <div class="component__code">
                <article class="second-nav">
                <h3>
                <ul>
                    <li>Single Room</li>
                    <li>Small Double Room</li>
                    <li>Double Room</li>
                    <li>Twin Room</li>
                    <li>Triple Room</li>
                    <li>Superior Room</li>
                    <li>Family Suite</li>
                    <li>Junior Suite</li>
                </ul>
                </h3>
                </article>
            </div>
    </article>

    <article class="component">

        <h2 class="component__name">Previous Post</h2>

            <div class="component__img">
                <img srcset="img/div-intro copy.png" src="img/div-intro copy.png" alt="post section">
            </div>

            <div class="component__code">
                <section class="container">
                    <article class="post">
                        <div class="post-content">
                            <h3 class="post-title">Welcome to Coco Hotel</h3>

                            <p>Coco is not your average hotel in Copenhagen. Sure, it’s a place to stay away from home, 
                                but it is also a place to unwind, a place to meet with friends, a place to meet new people, 
                                a place to explore, a place to be inspired and a place to feel wanted. We welcome everyone at
                                Coco Hotel and value outstanding hospitality above all.
                            </p>
                            <p>
                                Coco Hotel is a 4 sustainable boutique hotel created and run by Cofoco. 
                            </p>
                            <p>
                                Want to know more?
                            </p>
                        </div>
                    </article>
                </section>
            </div>

    </article>


    <article class="component">
        <h2 class="component__name">image section dividers</h2>
            <div class="component__img">
                <img srcset="img/img__divider copy.png 2x" src="img/img__divider copy.png" alt="img dividers" />
                <img srcset="img/img-div.png 2x" src="img/img-div.png" alt="img dividers" />
                <img srcset="img/section-img copy.png 2x" src="img/section-img copy.png" alt="img dividers" />
                <img srcset="img/section class.png 2x" src="img/section class.png" alt="img dividers" />
            </div>
    </article>
   
    <article class="component">
        <h2 class="component__name">offers section</h2>
        <h5>article headings</h5>
            <div class="component__img">
                <img srcset="img/offers-header__one.png 2x" src="img/offers-header__one.png" alt="offers headings" />
                <img srcset="img/offers-header__two.png 2x" src="img/offers-header__two.png" alt="offers headings" />
                <img srcset="img/offers-header__three.png 2x" src="img/offers-header__three.png" alt="offers headings" />
            </div>

            <div class="component__code">
                <article class="blue-heading">
                    <div class="sub-heading">

                        <h5>Romantic Getaway for Two</h5>
                        <h5>Dinner & a Room</h5>
                        <h5>Spring Offer</h5>

                    </div>
                </article>
            </div>

        <h5>article imgs</h5>
            <div class="component__img">
                <img srcset="img/offers-img__bedroom.png 2x" src="img/offers-img__bedroom.png" alt="offers imgs" />
                <img srcset="img/offers-img__kitchen.png 2x" src="img/offers-img__kitchen.png" alt="offers imgs" />
                <img srcset="img/offers-img__still-life.png 2x" src="img/offers-img__still-life.png" alt="offers img" />
            </div>
        <h5>article dates</h5>
            <div class="component__img">
                <img srcset="img/offers-date__one.png 2x" src="img/offers-date__one.png" alt="offers imgs" />
                <img srcset="img/offers-date__two.png 2x" src="img/offers-date__two.png" alt="offers imgs" />
                <img srcset="img/offers-date__three.png 2x" src="img/offers-date__three.png" alt="offers imgs" />
            </div>


        <div class="component__code">
            <article class="blue-heading">
                <div class="date">

                <p>Februrary 25</p>
                <p>Februrary 03</p>
                <p>October 02</p>

                </div>
            </article>
        </div>


        <div class="component__code">
            <div class="flat-list">
                <article class="post">
                    <img srcset="img/offers-img__bedroom.png 2x" src="img/offers-img__bedroom.png" alt="offers imgs" />

                    <p>Februrary 25</p>
                    <h4>Romantic Getaway for Two</h4>
                    <a href="#!"><i class="fas fa-long-arrow-alt-right"></i></a>
                    
                </article>

                <article class="post">
                    <img srcset="img/offers-img__kitchen.png 2x" src="img/offers-img__kitchen.png" alt="offers imgs" />
                    <p>Februrary 03</p>
                    <h4>Dinner and a Room</h4> 
                    <a href="#!"><i class="fas fa-long-arrow-alt-right"></i></a>
                </article>

                <article class="post">
                    <img srcset="img/offers-img__still-life.png 2x" src="img/offers-img__still-life.png" alt="offers img" />
                    <p>October 02</p>
                    <h5>Spring Offer</h5>
                    <a href="#!"><i class="fas fa-long-arrow-alt-right"></i></a>
                </article>
            </div>
        </div>

    </article>

    </body>
</html>
